body {
	background-image: url(https://i.stack.imgur.com/9WYxT.png);
	background-size: 100%;
	font-family: arial;
}

body:visited {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";}

.menu {
	background-color: azure;
}

.menu li {
	list-style: none;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

a {
	color: darkred;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
}

.site-title {
	text-align: center;
	color: black;
}


.site-subtitle {
	text-align: center;
	color: black;
	font-style: italic;
}