*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} /*css reset*/

body {
	background-color: #000a12;
	background-size: 100vh;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 12px;
	text-align: center;
}

header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	background-color: #3e64bd;
	font-family: 'Merriweather', serif;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

.menu li {
	list-style: none;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu a {
	display: block;
	font-size: 1.2em;
	padding: 15px 05px;
}

a {
	color: #000a12;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-title {
	color: #a9c1ff;
	font-family: 'Cardo', serif;
	font-size: 4em;
}

.site-subtitle {
	color: #a9c1ff;
	font-style: italic;
	line-height: 1.8em;
}

p {
	color: #F0FFFF;
	font-size: 1.5em;
	margin: 50px 20px 0px;
	text-align: justify;
}

section h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.8em;
	margin: 0px  0px 45px;
	font-size: 2.5em;
	color: #a9c1ff;
}

#portfolio{
	padding: 70px;
	min-height: calc(100vh - 47px);
}

.posição-portfolio {
	display: grid;
	grid-template-columns: 13em 13em 13em;
	grid-gap: 1.5em;
	justify-content: center;
	align-items: center;  
}

.posição-portfolio a {
	display: block;
	color: #F0FFFF;
	font-size: 13em;
}

#playlist{
	padding: 70px;
	min-height: calc(100vh - 47px);
}

.posição-playlist {
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: 100px;
	justify-content: center;
	align-content: center;
}

.img-playlist:hover {
	transform: scale(1.1);
	transition: 0.8s;
	}

/* se a tela tiver pelo menos 200px estes
 estilos vão carregar*/
@media(min-width: 200px) {
	body{
		font-size: 8px
	}

	.menu a {
		font-size: 1.4em;
		padding: 15px 04px;
	}

	.site-title {
		font-size: 2em;
		margin: 10px 0 0;
	}

	p {
		margin: 20px;
	}

	.posição-portfolio {
		display: grid;
		grid-template-columns: 8em 8em 8em;
		grid-gap: 1.5em;
		justify-content: center;
		align-items: center;  
	}

	.posição-portfolio a {
		display: block;
		color: #F0FFFF;
		font-size: 8em;
	}

	.img-playlist {
		height: 100px;
		width: 100px;
	}
}

@media(min-width: 300px) {
	body {
		font-size: 11px;
	}

	.posição-portfolio {
		grid-template-columns: 170px 170px 170px;
	}

	.posição-playlist {
		grid-template-columns: 150px;
	}

	.img-playlist {
		height: 150px;
		width: 150px;
	}
}

@media(min-width: 400px) {
	.posição-playlist {
		grid-template-columns: 170px;
	}
	
	.img-playlist {
		height: 170px;
		width: 170px;
	}
}

@media (min-width: 500px) {
	.posição-portfolio {
		display: grid;
		grid-template-columns: 12em 12em 12em;
		grid-gap: 1.5em;
		justify-content: center;
		align-items: center;  
	}

	.posição-portfolio a {
		display: block;
		color: #F0FFFF;
		font-size: 8em;
	}
	.posição-playlist {
		grid-template-columns: 150px 150px;
	}
}

@media(min-width: 600px) {
	body {
		font-size: 13px;
	}

	.menu a {
	display: block;
	font-size: 1.4em;
	padding: 15px 05px;
	}

	p {
	margin: 50px;
	}

	.posição-portfolio a {
		display: grid;
		grid-template-columns: 10em 10em 10em;
		grid-gap: 1em;
		justify-content: center;
		align-items: center;
		color: #F0FFFF;
		font-size: 10em;
	}

	.posição-portfolio a:hover {
		transform: scale(1.18);
		transition: 1s;
	}

	.posição-playlist {
		grid-template-columns: 200px 200px 200px;
	}

	.img-playlist {
		height: 200px;
		width: 200px;
	}
}

@media (min-width: 900px) {
	body {
		font-size: 15px;
	}

	.menu a {
		display: block;
		font-size: 1.5em;
		padding: 25px 20px;
	}

	.site-title {
		font-size: 4em;
	}

	p {
		margin: 50px 70px 0px;
		text-align: justify;
	}

	.posição-portfolio {
		grid-template-columns: 250px 250px 250px;
	}

	.posição-playlist {
		grid-template-columns: 250px 250px 250px
	}

	.img-playlist {
		height: 250px;
		width: 250px;
	}
}